<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>mod-messenger</title>
</head>
<body>
  <header>
    <div>
      <span id="msgLoginStatus">Welcome!</span>
    </div>
  </header>
  
  <h1>mod-messenger</h1>

  <ul class="messages">
    <% for(let i = 0; i < messages.length; i++) {%>
      <li class="message">
        <span class="msgDateTime">[<%= messages[i].dateTime.toLocaleTimeString() %>]</span>
        <span class="msgUserName"><%= messages[i].userName %></span>:
        <span class="msgUserMessage"><%= messages[i].userMessage %></span>
      </li>
    <% } %>
  </ul>

  <h2>Send a message</h2>

  <form action="/messages" method="POST">
    <input id="userName" type="text" name="userName" hidden>
    <input type="text" placeholder="message" name="userMessage">
    <input type="submit">
  </form>

  <script src="js/main.js"></script>

</body>
</html>
