<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>mod-messenger</title>
</head>
<body>
  <header>
      <h1>mod-messenger</h1>
      <nav>
        <span id="msgLoginStatus">Welcome!</span>
      </nav>
  </header>

  <ul class="messages">
    <% for(let i = 0; i < messages.length; i++) {%>
        <li class="message">
        <span class="msgDateTime">[<%= messages[i].dateTime.toLocaleTimeString() %>]</span>
        <span class="msgUserName"><%= messages[i].userName %></span>:
        <span class="msgUserMessage"><%= messages[i].userMessage %></span>
      </li>
    <% } %>
  </ul>

  <section class="send">
    <form id="sendForm" action="/messages" method="POST">
      <input id="userName" type="text" name="userName" hidden>
      <input id="sendText" type="text" placeholder="Type message" name="userMessage">
      <input id="sendButton" type="submit" value="Send">
    </form>
  </section>

  <script src="js/main.js"></script>

</body>
</html>
