<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <title>Mod-Messenger</title>
</head>
<body>
  <header>

    <span id="msgLoginStatus">Welcome, Guest</span>
    <form>
      <input id="txtName" type="text" placeholder="username">
      <button id="btnLogin">Login</button>
      <button id="btnLogout">Logout</button>
    </form>

  </header>
  
  <h1>Mod-Messenger</h1>

  <ul class="messages">
    <% for(var i = 0; i < messages.length; i++) {%>
      <li class="message">
        <span><%= messages[i].userName %></span>:
        <span><%= messages[i].userMessage %></span>
      </li>
    <% } %>
  </ul>

  <h2>Send a message</h2>

  <form action="/messages" method="POST">
    <input id="userName" type="text" name="userName" value="Guest" hidden>
    <input type="text" placeholder="message" name="userMessage">
    <input type="submit">
  </form>

  <script src="js/main.js"></script>

</body>
</html>