<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>mod-messenger</title>
</head>
<body>
  <header>
      <h1>mod-messenger</h1>
      <nav>
        <span id="msgLoginStatus">Welcome!</span>
      </nav>
  </header>
  
    <section class="login">
      <a class="btnClose" href="/" alt="Home">X</a>
      <h5>Login</h5>
      <form>
        <input id="txtName" type="text" placeholder="username">
        <button id="btnLogin">Login</button>
        <button id="btnLogout">Logout</button>
      </form>
      
      <h5>Options</h5>
    </section>
  
  <script src="js/login.js"></script>
  
</body>
</html>
